body{
    align-items: center;
    background-color: #aaaaa7;
    
}

#encabezado{
   vertical-align: middle;    
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 3em;
   text-align: center;
   padding-left: auto;
   
}
header{
    padding-top: 1em;
    border-bottom: solid 1px rgb(0, 0, 48);
    border-top: 1px solid rgb(0, 65, 139);
    border-left: 1px solid rgb(0, 65, 139);
    border-right: 1px solid rgb(0, 65, 139);
    font-family: 'Noto Serif', serif;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    background-color: #00587A;
    color: #E7E7DE;
    justify-content: start;
    flex-wrap: wrap;
    display: inline-block;
    width: 75%;
    margin-top: 2em;
    border-top: 1px solid rgb(38, 38, 90);
    border-radius: 2px;
    align-items: center;
    text-align: center;
}

footer{
    padding-top: 1em;
    border-bottom: solid 1px rgb(0, 0, 48);
    padding-bottom: 1em;
    margin-left: 12.5%;
    margin-right: auto;
    margin-bottom: 2em;
    background-color: #00587A;
    color: #E7E7DE;
    justify-content: start;
    flex-wrap: wrap;
    display: inline-block;
    width: 75%;
    border-top: 1px solid rgb(38, 38, 90);
    text-align: center;
    border-radius: 2px;
    border-right: 1px solid rgb(0, 65, 139);
    border-left: 1px solid rgb(0, 65, 139);
    border-bottom: 1px solid rgb(0, 65, 139);
    font-family: 'Noto Serif', serif;
}
h2{
    text-align: center;
    padding-top: 1em;
    color:#E7E7DE;
}
p{
    text-align: justify;
    padding-right: 2em;
    padding-left: 2em;
    color:#E7E7DE;
}
#container{
    width: 75%;
    margin-left: 12.5%;
    margin-right: auto;
    border: 1px solid rgb(0, 65, 139);
    background-color: #008891;
    font-family: 'Noto Serif', serif;
    padding-top: 3em;
}
form{
    margin-top: 3em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-family: 'Noto Serif', serif;
    text-align: center;
    padding: 1em;
    border: 1px solid rgb(11, 41, 75);
    border-radius: 15px;
    margin-bottom: 3em;
    line-height: 2em;
    background-color: white;
}
div{
    text-align: center;
}

